*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;

    p{
        
        margin-top: 0.5rem;
        color: gray;
    }

    
}

button{
    background-color: transparent;
    border-style: none;
    margin-top: 1rem;
}

.container{
    font-family: sans-serif;
    max-width: 900px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.col{
    flex-basis: calc(100% /3 - (15px*2) / 3);
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}


.togglers{
    flex-grow: 1;
    text-align: end;
}

.card{

    margin: 2rem;
    box-shadow: rgba(128, 128, 128, 0.569) 0px 10px 1pc;;
    background-color: white;
    flex-shrink: 0;
    max-width: 290px;
    border-radius: 1rem;
    padding: 1rem;
    gap: 15px;

    h2{
        padding-top: 1.5rem;
        padding-left: 1.5rem;
    }

    p{
        padding-left: 1.5rem;
        color: gray;
    }

    .price{
        position: relative;
        margin: 3rem;
        text-align: center;
        font-size: 30px;

        strong{
            font-family: sans-serif;
            font-size: 16px;
            margin-right: 0.30rem;
        }
        .month{
            font-size: 15px;
            color: gray;
            margin-left: 0.30rem;
        }
    }

    .under{
        display: flex;
        justify-content: center;
        
        .mini_card{
            position: relative;
            top: -0.5rem;
            margin-left: 0.5rem;
            padding: 0.5rem;
            background-color: rgba(128, 128, 128, 0.542);
            border-radius: 6px;
        }
    }

    .medium_card{
        text-align: center;
        position: relative;
        background-color: rgb(103, 22, 254);
        padding: 1rem;
        color: white;
        margin: 1rem;
        border-radius: 1rem;
    }



}


.card_second{
    margin: 2rem;
    box-shadow: rgba(128, 128, 128, 0.569) 0px 10px 1pc;
    background-color: rgb(103, 22, 254);
    flex-shrink: 0;
    max-width: 290px;
    border-radius: 1rem;
    padding: 1rem;
    gap: 15px;

    h2{
        color: white;
        padding-top: 1.5rem;
        padding-left: 1.5rem;
    }

    p{
        padding-left: 1.5rem;
        color: white;
    }

    .price{
        color: white;
        position: relative;
        margin: 3rem;
        text-align: center;
        font-size: 30px;

        strong{
            font-size: 16px;
            margin-right: 0.30rem;
        }
        .month{
            font-size: 15px;
            margin-left: 0.30rem;
        }
    }

    .under_second{
        color: white;
        display: flex;
        justify-content: center;
        
        .mini_card{
            color: black;
            position: relative;
            top: -0.5rem;
            margin-left: 0.5rem;
            padding: 0.5rem;
            background-color: rgba(255, 255, 255, 0.921);
            border-radius: 6px;
        }
    }

    .medium_card{
        text-align: center;
        position: relative;
        background-color: white;
        padding: 1rem;
        color: rgb(103, 22, 254);
        margin: 1rem;
        border-radius: 1rem;
    }
}
